.MovieDetails {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
    position: relative;
}

.MovieDetails img {
  width: 100%;
  height: 750px;
  object-position: top;
  object-fit: cover;
  border-radius: 20px; 
}

.Description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 200px;
  border-radius: 0px 0px 20px 20px; 
  position: absolute;
  bottom: 0px;
  height: 35%;
}

.MovieDetails h2 {
  font-size: 37px;
  color: #3d4ab1;
  letter-spacing: 3px;
  align-items: center;
  margin-top: 15px;
}

.Genres {
  margin: 20px;
  display: flex;
  margin-bottom: 10px;
  color: #ffffff;
}

.genre {
  color: #ffffff;
  font-weight: bold;
  background-color: #97c2ec;  
  padding: 10px;
  border: 2px solid white;
  margin: 0px 2px 0px 2px;
  border-radius: 12px;
}

.Description .Overview {
  color: #232323;
  font-weight: 400;
  margin: 10px;
  margin-bottom: 15px;
}



