.MoviePoster {
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.MoviePoster:hover {
    box-shadow: 0 5px 15px #7a87b0;
    transform: translateY(-5px);
}

.MoviePoster img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.MoviePoster img:hover {
    cursor: pointer;
}

.Votes {
    display:flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.Votes p {
    color: black;
    text-align: center;
    padding: 3px 0px;
    font-weight: normal !important; 
    margin: 5px 0px;
    font-size: small;
}

.Votes button {
    border: none;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
}

.VoteImage {
    width: 100%;
}

.VoteImage:hover {
    cursor: pointer;
}

